*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.col{
  flex-direction: column;
}
.grid{
  display: grid;
  place-items: center;
  justify-content: center;
  grid-template-columns:  repeat(auto-fit, minmax(300px, 45vw));
  grid-gap: 2rem;
}